.cast-list {
    height: 450px;
    position: relative;
}
.cast-list::after{
    content: '';
    display: flex;
    right: 0;
    z-index: 9999999;
    margin-left: auto;
    top: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .7) 40%, #fff 70%);
    position: sticky;
    width: 80px;
    height: 100%;
}