.list-horizontal-display {
    display: flex;
    direction: ltr;
}
.list-item-text {
    font-size: larger;
    justify-content: center;
    padding-left: 0;
}
.dot-divider {
    font-size: xx-large;
}
