.button {
    padding-left: 1rem;
    padding-right: 2rem; 
  }
  .button .css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
  color: white;
  border: 1px solid #e8ebed;
  font-size: 0.9rem;
  display: inline-flex;
}
.container {
    background-color: #303030;
    display: flex;
    align-items: center;
    width: fit-content;
    }
.Logo {
    width: 12%;
    background-color: #303030;
    display: flex;
    }
.nav__menu {
  display: inline-flex;
  padding-left: 0%;
}  
.maine__menuList{
        display: inline-flex;
    }
.nav-item {
    list-style: none;
  }
.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 2rem;
    border-radius: 5px;
  }
.nav-item a:hover {
       color: #FF5032;
  }
.btn__box {
  display: flex;
}
ul.nav-item4.popup:hover{
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.search {
  width: 50%;
  background-color: #8b8f8f;
}
.MuiTextField-root > label {
  color: white;
}
#outlined-basic-label {
  color: white;
  font-size: larger;
}
.search__list {
  display: none;
}

    